{% extends 'base.html' %}

{% block content %}

<h1>Knots</h1>
<hr />
<!-- <pre>{{knot}}</pre> -->
<ul class="knot-list">
    <li>
      <p>{{ knot.name.capitalize}}</p>
      <dl>
        <dt>Type</dt>
        <dd>{{ knot.type }}</dd>
        <dt>Description</dt>
        <dd>{{ knot.description }}</dd>
      </dl>
    </li>
</ul>
<div class="card-action">
  <a class='btn' href="{% url 'knots_update' knot.id %}">Update me</a>
  <a class='btn' href="{% url 'knots_delete' knot.id %}">Delete me</a>
</div>
{% endblock content %}